/* =================================================================== 
 *
 *  Study Abroad v1.0 Main Stylesheet
 *  url: www.studyabroad.com
 *  04-01-2020
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. typography & general theme styles
 *  03. main navigation bar
 *  04. overview
 *  05. proposition
 *  06. values
 *  07. glance
 *  08. why-us
 *  09. affiliate 
 *  10. body footer 
 *  
 *
 * =================================================================== */


/* ===================================================================
 *  01. webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- */
 @import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900|Roboto:100,300,400,700,900&display=swap');

 /* ===================================================================
 *  02. typography & general theme styles
 *
 * ------------------------------------------------------------------- */
body{
    width: 100%;
    height: 100vh;
    font-family: 'Raleway','Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: justify;
}

.blue-shade{
  color: #4485af;
}

.bluer-shade{
  color: #0f1aee !important;
}

h3{
  font-size: 2.3rem;
  font-weight: bolder !important;
}

.btn-primary{
  background-color:  #4485af;
  margin-bottom: 5px;
}

.mid h3{
  font-weight: 700;
  font-size: 1.55rem;
  text-transform: uppercase;
}
/* ===================================================================
 *  03. banner & main navigation bar
 *
 * ------------------------------------------------------------------- */
.bg-light{
    opacity: 0.8;
}

.navbar.scrolled{
  background: #fff !important;
  opacity: 1;
	transition: 0.5s;
}


.navbar-nav .nav-item:last-child{
  margin-right: 100px;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: .9rem;
  font-weight: bolder;
  color: #0f1aee !important;
}

.navbar-nav .nav-link:hover{
  color: rgb(16, 1, 153) !important;
}

/* ===================================================================
 *  04. services-intro
 *
 * ------------------------------------------------------------------- */
 #services-intro{
     background: #000;
     opacity: .8;
     padding: 100px 0px 50px 0px;
     text-align: center;
     color: #fff;
 }

 /* ===================================================================
 *  05. services 
 *
 * ------------------------------------------------------------------- */
#services-container{
padding-bottom: 50px; 
background-color: #f9f9f7;
}

#services-container h3{
  padding-top: 30px;
  text-align: center;
}

.service {
margin-top: 40px;
 padding: 15px 15px 20px 15px;
 background: #f8f8f8;
 border-bottom: 2px solid #111781;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 text-align: center;
}

.service:hover {
 box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 1px 25px 0 rgba(0,0,0,.05) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset;
 -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.service .service-icon {
 font-size: 50px;
 line-height: 50px;
 color: #0f1aee;
}

.service .service-icon i { vertical-align: middle; }

.service h3 {
 font-family: 'Droid Sans', sans-serif;
 font-size: 14px;
 color: #5d5d5d;
 font-weight: bold;
 text-transform: uppercase;
 text-shadow: 0 1px 0 rgba(255,255,255,.7);

}

.service p {
 padding-bottom: 7px;
 line-height: 24px;
}


 /* ===================================================================
 *  03.
 *
 * ------------------------------------------------------------------- */

 /* ===================================================================
 *  03. 
 *
 * ------------------------------------------------------------------- */

 /* ===================================================================
 *  10. body footer
 *
 * ------------------------------------------------------------------- */
 #body-footer{
    padding-top: 30px;
    background-color: #000;
    opacity: .8;
    color: #fff;
    text-align: ;
  }
 
  .footer-info{
    padding: 20px 0px;
  }
 
  .footer-info h5{
    font-weight: bold; 
  }
 
  .footer-info ul li a:hover{
    text-decoration: none;
  }
 
 .footer-info .fab:hover{
  transform: scale(2);
 }

